body {
    padding: 20px;
    background-color: #3367b6;
}

input {
    padding: 2px;
    width: 200px;
    font-size: 10px;
    margin-bottom: 15px;
}

ul {
    padding: 0;
}

li {
    padding: 2px 0;
}

mark {
    background-color: yellow;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 30%;
    margin-left: 650px;
    margin-top: 350px;
    padding: 20px;
    background-color:rgb(187, 186, 180);
    border-radius: 10px;
}

input{
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: rgb(218, 219, 219);
}
