.step {
  display: none
}

input{
  display: block;
  margin: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: rgb(218, 219, 219);
  padding: 8px
}

button {
  margin: 10px;
  width: 120px;
  padding: 5px 10px
}

.active {
  display: block
}

body {
  background-color: #551337;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  width: 30%;
  margin-left: 650px;
  margin-top: 350px;
  padding: 20px;
  background-color: rgb(122, 119, 101);
  border-radius: 10px;
}