body{
    background-color: rgb(44, 14, 14);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 30%;
    margin-left: 630px;
    margin-top: 350px;
    padding: 20px;
    background-color:rgb(112, 106, 106);
    border-radius: 10px;
}

#secondsInput{
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}

button{
    padding: 5px;
    width: 100px;
    border-radius: 5px;

}

label{
    font-size: 25px;
    font-weight: bold;
}