body {
    height: 3000px;
        background-color: #6A7E3F;
}

.box {
    position: fixed;
    top: 10px;
    background: white;
    padding: 5px;
    border: 1px solid black
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 30%;
    margin-left: 650px;
    padding: 20px;
}
